<a href="https://colab.research.google.com/github/umentu/datascientist/blob/main/Pandas100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 100本ノック
https://qiita.com/kunishou/items/bd5fad9a334f4f5be51c

## No.1 [基礎] dfに読み込んだデータの最初の5行を表示

## No.2 [基礎] dfに読み込んだデータの最後の5行を表示

## No.3 [基礎] dfのDataFrameサイズを確認

## No.4 [基礎] inputフォルダ内のdata1.csvファイルを読み込みdf2に格納、最初の5行を表示

## No.5 dfのfareの列で昇順に並び替えて表示

## No.6 [基礎] df_copyにdfをコピーして、最初の5行を表示

## No.7 [基礎] 
① dfの各列のデータ型を確認

② dfのcabinの列のデータ型を確認

## No.8[基礎]
① dfのpclassの列のデータ型をdtypeで確認

② 数値型から文字型に変換し、データ型をdtypeで確認

## No.9 [基礎] dfのレコード数(行数)を確認

## No. 10 [基礎] dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認

## No. 11 [基礎] dfのsex,cabinの列の要素を確認

## No. 12 [基礎] dfの列名一覧をlist形式で表示

## No. 13 [基礎] dfのインデックス一覧をndarray形式で表示

## No. 14 [抽出] dfのnameの列のみ表示

## No. 15 [抽出] dfのnameとsexの列のみ表示

## No. 16 [抽出] dfのindex(行)の4行目までを表示

## No. 17 [抽出] dfのindex(行)の4行目から10行目までを表示

## No. 18 [抽出] locを使ってdf全体を表示



```
# これはコードとして書式設定されます
```

## No. 19[抽出] locを使ってdfのfare列をすべて表示

## No. 20 [抽出] locを使ってdfのfare列の10行目まで表示

## No. 21 [抽出] locを使ってdfのnameとticketの列をすべて表示

## No. 22 [抽出] locを使ってdfのnameからcabinまでの列をすべて表示

## No. 23 [抽出] ilocを使ってdfのage列を5行目まで表示

## No. 24 [抽出] 
dfのname,age,sexの列のみ抽出しdf2に格納

その後outputフォルダにcsvファイルで出力

## No. 25 [抽出] dfのage列の値が30以上のデータのみ抽出

## No. 26 [抽出] dfのsex列がfemaleのデータのみ抽出

## No. 27 [抽出] dfのsex列がfemaleでかつageが40以上のデータのみ抽出

## No.28 [抽出] queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出

## No. 29 [抽出] dfのname列に文字列「Mrs」が含まれるデータを表示

## No. 30 [抽出] dfの中で文字型の列のみを表示

## No. 31 [抽出] dfの各列のユニークな要素数のカウント

## No.32 [抽出] dfのembarked列の要素と出現回数の確認

## No.33 [加工] dfのindex名が「3」のage列を30から40に変更

## No.34 [加工] dfのsex列にてmale→0、femlae→1に変更し、先頭の5行を表示

## No.35 [加工] dfのfare列に100を足して、先頭の5行を表示

## No.36 [加工] dfのfare列を2を掛けて、先頭の5行を表示

## No. 37 [加工] dfのfare列を小数点以下で丸める

## No.38 [加工]　dfに列名「test」で値がすべて1のカラムを追加し、先頭の5行を表示

## No.39 [加工] dfにcabinとembarkedの列を「_」で結合した列を追加(列名は「test」)し、先頭の5行を表示

## No.40 [加工] dfにageとembarkedの列を「_」で結合した列を追加(列名は「test」)し、先頭の5行を表示

## No. 41 [加工] dfからbodyの列を削除し、最初の5行を表示

## No.42 [加工] dfからインデックス名「3」の行を削除し、最初の5行を表示

## No. 43[加工] 

df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更

df2の最初の5行を表示

## No.44 [加工]
df2の列名を'English'を'Biology'に変更

df2の最初の5行を表示

## No.45 [加工] 
df2のインデックス名「1」を「10」に変更

df2の最初の5行を表示

## No.46 [加工] dfのすべての列の欠損値数を確認

## No.47 [加工] 
dfのageの列の欠損値に30を代入
*斜体テキスト*
その後、ageの欠損値数を確認

## No.48 [加工] 
dfでひとつでも欠損値がある行を削除

その後、dfの欠損値数を確認

## No.49 [加工] dfのsurvivedの列をarray形式(配列)で表示

## No.50 [加工] dfの行をシャッフルして表示

## No.51 [加工] dfの行をシャッフルし、インデックスを振り直して表示

## No.52 [加工] 
①df2の重複行数をカウント

②df2の重複行を削除し表示

## No.53 [加工] dfのnameの列をすべて大文字に変換し表示

## No.54 [加工] dfのnameの列をすべて小文字に変換し表示

## No.55 [加工] dfのsex列に含まれる「female」という単語を「Python」に置換

## No.56 [加工] 加工	dfのname列1行目の「Allen, Miss. Elisabeth Walton」の「Elisabeth」を消去(import reが必要)

## No.57 [加工] df5の都道府県列と市区町村列を空白がないように「_」で結合(新規列名は「test2」)し、先頭5行を表示

## No.58 [加工] df2の行と列を入れ替えて表示

## No.59 [マージと連結] df2にdf3を左結合し、df2に格納

## No.60 [マージと連結] df2にdf3を右結合し、df2に格納

## No.61 [マージと連結] df2にdf3を内部結合し、df2に格納

## No.62 [マージと連結] df2にdf3を外部結合し、df2に格納

## No.63 [マージと連結] df2とdf4を列方向に連結し、df2に格納

## No.64 [マージと連結] df2とdf4を列方向に連結し重複しているname列の片方を削除し、df2に格納

## No.65 [マージと連結] df2とdf2を行方向に連結し重複しているname列の片方を削除し、df2に格納

## No.66 [統計] dfのage列の平均値を確認

## No.67 [統計] dfのage列の中央値を確認

## No.68 [統計] 
①df2の生徒ごとの合計点（行方向の合計）

②df2の科目ごとの点数の総和（列方向の合計）

## No.69 [統計] df2のEnglishで得点の最大値

## No.70 [統計] df2のEnglishで得点の最小値

## No.71 [統計] df2においてclassでグルーピングし、クラスごとの科目の最大値、最小値、平均値を求める(name列は削除しておく)

## No.72 [統計] dfの基本統計量を確認(describe)

## No.73 [統計] dfの各列間の(Pearson)相関係数を確認

## No.74 [統計] scikit-learnを用いてdf2のEnglish、Mathmatics、Historyを標準化する

## No.75 [統計] scikit-learnを用いてdf2のEnglish列を標準化する

## No.76 [統計] scikit-learnを用いてdf2のEnglish、Mathmatics、History列をMin-Maxスケーリングする

## No.77 [統計] dfのfare列の最大値、最小値の行名を取得

## No.78 [統計] dfのfare列の0、25、50、75、100パーセンタイルを取得

## No.79 [統計] 
①dfのage列の最頻値を取得

②value_counts()にてage列の要素数を確認し、①の結果の妥当性を確認

### No.80 [ラベリング] dfのsex列をラベルエンコーディングし、dfの先頭5行を表示

## No.81 [ラベリング] dfのsex列をOne-hotエンコーディングし、dfの先頭5行を表示

## No.82 [Pandasプロット] dfのすべての数値列のヒストグラムを表示

## No.83 [Pandasプロット] dfのage列をヒストグラムで表示

## No.84 [Pandasプロット] df2のnameごとの3科目合計得点を棒グラフで表示

## No.85 [Pandasプロット] df2のname列の要素ごとの3科目を棒グラフで並べて表示

## No.86 [Pandasプロット] df2のname列の要素ごとの3科目を積み上げ棒グラフで表示

## No.87 [Pandasプロット] dfの各列間の散布図を表示

## No.88 [Pandasプロット] dfのage列とfare列で散布図を作成

## No.89 [Pandasプロット] 【88】で描画したグラフに「age-fare scatter」というグラフタイトルをつける

## No.90 [タイタニック号の生存者予測] df_copyのsexとembarked列をラベルエンコーディング

## No.91 [タイタニック号の生存者予測] df_copyの欠損値を確認

## No.92 [タイタニック号の生存者予測] df_copyのage、fare列の欠損値を各列の平均値で補完

## No.93 [タイタニック号の生存者予測] df_copyの中で機械学習で使用しない不要な行を削除

## No.94 [タイタニック号の生存者予測] 
①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換

②df_copyのsurvivedの列を抽出し、ndarray形式に変換

## No.95 [タイタニック号の生存者予測] 【94】で作成したfeatrues、targetを学習データとテストデータに分割

## No.96 [タイタニック号の生存者予測] 学習データ(features、target)を用いランダムフォレストにて学習を実行

## No.97 [タイタニック号の生存者予測] test_Xデータの乗客の生存を予測

## No.98 [タイタニック号の生存者予測] 予測結果がtest_y(生存有無の答え)とどれぐらい整合していたかを確認(評価指標はaccuracy)

## No.99 [タイタニック号の生存者予測] 学習における各列(特徴量)の重要度を表示

## No.100 [タイタニック号の生存者予測] test_Xの予測結果をcsvでoutputフォルダに出力（ファイル名は「submission.csv」）